<p>
  <%= label_tag :settings_BTC, 'BTC' %>
</p>
<p>
  <%= label_tag :settings_BTC_master_pk, 'Master Public Key' %>
  <%= text_field_tag 'settings[BTC][master_pk]',
    @settings[:BTC][:master_pk], size: 80 %>
</p>
<p>
  <%= label_tag :settings_BTC_confirmations, 'Confirmations' %>
  <%= text_field_tag 'settings[BTC][confirmations]',
    @settings[:BTC][:confirmations], size: 3 %>
</p>

<p>
  <%= label_tag :settings_BCH, 'BCH' %>
</p>
<p>
  <%= label_tag :settings_BCH_master_pk, 'Master Public Key' %>
  <%= text_field_tag 'settings[BCH][master_pk]',
    @settings[:BCH][:master_pk], size: 80 %>
</p>
<p>
  <%= label_tag :settings_BCH_confirmations, 'Confirmations' %>
  <%= text_field_tag 'settings[BCH][confirmations]',
    @settings[:BCH][:confirmations], size: 3 %>
</p>
