<p>
<%= label_tag :settings_btc, 'BTC' %>
</p>
<p>
  <%= label_tag :settings_btc_rpc_url, 'RPC URL' %>
  <%= text_field_tag 'settings[btc_rpc_url]', @settings[:btc_rpc_url], size: 64 %>
  <em class="info">
    <%= l(:label_default) %>: <%= @plugin.settings[:default][:btc_rpc_url] %>
  </em>
</p>
<p>
  <%= label_tag :settings_btc_confirmations, 'Confirmations' %>
  <%= text_field_tag 'settings[btc_confirmations]', @settings[:btc_confirmations], size: 2 %>
  <em class="info">
    <%= l(:label_default) %>: <%= @plugin.settings[:default][:btc_confirmations] %>
  </em>
</p>
<hr/>
<p>
  <%= label_tag :settings_bch, 'BCH' %>
</p>
<p>
  <%= label_tag :settings_bch_rpc_url, 'RPC URL' %>
  <%= text_field_tag 'settings[bch_rpc_url]', @settings[:bch_rpc_url], size: 64 %>
  <em class="info">
    <%= l(:label_default) %>: <%= @plugin.settings[:default][:bch_rpc_url] %>
  </em>
</p>
<p>
  <%= label_tag :settings_bch_confirmations, 'Confirmations' %>
  <%= text_field_tag 'settings[bch_confirmations]', @settings[:bch_confirmations], size: 2 %>
  <em class="info">
    <%= l(:label_default) %>: <%= @plugin.settings[:default][:bch_confirmations] %>
  </em>
</p>
