<p>
<%= label_tag :settings_btc, 'BTC' %>
</p>
<p>
  <%= label_tag :settings_btc_rpc_uri, 'RPC URI' %>
  <%= text_field_tag 'settings[btc_rpc_uri]', @settings[:btc_rpc_uri], size: 64 %>
  <em class="info">
    <%= l(:label_default) %>: <%= @plugin.settings[:default][:btc_rpc_uri] %>
  </em>
</p>
<p>
  <%= label_tag :settings_btc_confirmations, 'Confirmations' %>
  <%= number_field_tag 'settings[btc_confirmations]', @settings[:btc_confirmations],
    min: 1, size: 2 %>
  <em class="info">
    <%= l(:label_default) %>: <%= @plugin.settings[:default][:btc_confirmations] %>
  </em>
</p>

<hr/>
<p>
  <%= label_tag :settings_bch, 'BCH' %>
</p>
<p>
  <%= label_tag :settings_bch_rpc_uri, 'RPC URI' %>
  <%= text_field_tag 'settings[bch_rpc_uri]', @settings[:bch_rpc_uri], size: 64 %>
  <em class="info">
    <%= l(:label_default) %>: <%= @plugin.settings[:default][:bch_rpc_uri] %>
  </em>
</p>
<p>
  <%= label_tag :settings_bch_confirmations, 'Confirmations' %>
  <%= number_field_tag 'settings[bch_confirmations]', @settings[:bch_confirmations],
    min: 1, size: 2 %>
  <em class="info">
    <%= l(:label_default) %>: <%= @plugin.settings[:default][:bch_confirmations] %>
  </em>
</p>
