<hr/>
<div id="token_votes">
  <div class="contextual">
    <% if User.current.allowed_to?(:add_token_votes, @project) %>
      <%= toggle_link l(:button_add), 'new-token-vote-form', focus: 'token_vote_duration' %>
    <% end %>
  </div>

  <p>
    <strong><%= l :label_token_votes %></strong>
  </p>

  <%= render partial: 'issues/token_votes/stats' %>

  <div id="token_votes-table">
    <%= render partial: 'issues/token_votes/index' %>
  </div>

  <div id="token_votes-flash"></div>
  <%= render partial: 'issues/token_votes/form' %>
</div>
