<% if @token_votes.present? %>
  <p><%= l :label_your_votes %></p>
  <table class="list">
    <tr>
      <th class="token">Token</th>
      <th class="address" style="width: 50%">Address</th>
      <th class="expiration">Expiration</th>
      <th class="amount">Amount: conf. (unconf.)</th>
      <th class="buttons">Delete</th>
    </tr>
    <% @token_votes.each do |token_vote| %>
      <tr id="token_vote-<%= token_vote.id %>">
        <td class="token"><%= token_vote.token %></td>
        <td class="address" style="width: 50%"><%= token_vote.address %></td>
        <td class="expiration"><%= format_date(token_vote.expiration) %></td>
        <td class="amount"><%= "#{token_vote.amount_conf} (#{token_vote.amount_conf})" %></td>
        <td class="buttons">
          <%= link_to l(:button_delete), token_vote_path(token_vote), method: :delete,
            remote: true, class: 'icon icon-del' if token_vote.deletable? %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
