<% if @my_withdrawals.present? %>
  <table class="list odd-even">
    <thead>
      <tr>
        <th class="status">Status</th>
        <th class="token">Token</th>
        <th class="amount">Amount</th>
        <th class="address">Address</th>
        <th class="txid">Normalized TXID</th>
        <th class="actions">Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @my_withdrawals.each do |withdrawal| %>
        <tr id="token_vote-<%= withdrawal.id %>" class="<%= cycle('odd', 'even') %>">
          <td class="status"><%= withdrawal.status %></td>
          <td class="token"><%= withdrawal.token_type.name %></td>
          <td class="amount">
            <%= "#{humanify_amount(withdrawal.amount)}" %>
          </td>
          <td class="address"><%= withdrawal.address %></td>
          <td class="txid">
            <% tt = withdrawal.token_transaction %>
            <%= tt.present? ? tt.ntxid : '-'  %>
          </td>
          <td class="buttons">
            <%= link_to l(:button_delete), token_withdrawal_path(withdrawal), method: :delete,
              remote: true, class: 'icon icon-del' if withdrawal.deletable? %>
        </td>
        </tr>
      <% end %>
      <% reset_cycle %>
    </tbody>
  </table>
<% else %>
  <div class="nodata"><%= l(:label_no_data) %></div>
<% end %>

