<% if @my_expired_votes.present? %>
  <table class="list odd-even">
    <thead>
      <tr>
        <th class="id">#</th>
        <th class="subject"><span>Subject</span></th>
        <th class="token">Token</th>
        <th class="amount">Amount</th>
        <th class="address">Address</th>
        <th class="expiration">Expiration</th>
      </tr>
    </thead>
    <tbody>
      <% @my_expired_votes.each do |token_vote| %>
        <tr id="token_vote-<%= token_vote.id %>" class="<%= cycle('odd', 'even') %>">
          <td class="id">
            <%= link_to token_vote.issue.id, issue_path(token_vote.issue) %>
          </td>
          <td class="subject">
            <%= link_to token_vote.issue.subject, issue_path(token_vote.issue) %>
          </td>
          <td class="token"><%= token_vote.token_type.name %></td>
          <td class="amount">
            <%= "#{humanify_amount(token_vote.amount_conf)}" %>
            <%= "(#{humanify_amount(token_vote.amount_unconf)})" %>
          </td>
          <td class="address"><%= token_vote.address %></td>
          <td class="expiration"><%= format_date(token_vote.expiration) %></td>
        </tr>
      <% end %>
      <% reset_cycle %>
    </tbody>
  </table>
<% else %>
  <div class="nodata"><%= l(:label_no_data) %></div>
<% end %>

