<table class="list" id="checkpoints">
  <thead>
    <tr>
      <th>Checkpoint order</th>
      <th>Checkpoint statuses</th>
      <th>Checkpoint vote share</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @settings['checkpoints']['statuses'].each_with_index do |statuses, index| %>
      <tr class="checkpoint-details">
        <td class="checkpoint-number"></td>
        <td>
          <%= select_tag "settings[checkpoints][statuses][]",
            options_for_checkpoint_statuses(@settings['checkpoints']['statuses'][index]),
            multiple: true %>
          <%= hidden_field_tag "settings[checkpoints][statuses][]" %>
        </td>
        <td>
          <%= number_field_tag "settings[checkpoints][shares][]",
            @settings['checkpoints']['shares'][index], in: 0.01..1, step: 0.01 %>
        </td>
        <td class="buttons">
          <%= link_to image_tag('delete.png'), '#', :class => 'delete-checkpoint-details' %>
        </td>
      </tr>
    <% end %>
    <td></td>
    <td><em class="info">Multiple choices allowed, minimum 1 required</em></td>
    <td><em class="info">Sum of shares has to equal 1.0</em></td>
    <td class="buttons">
      <%= link_to image_tag('add.png'), '#', :class => 'add-checkpoint-details' %>
    </td>
  </tbody>
</table>

<%= javascript_tag do %>
$('#checkpoints').on('click', 'a.delete-checkpoint-details', function(e) {
  e.preventDefault();
  if ($('#checkpoints tbody tr.checkpoint-details').length > 1) {
    $(this).parents('#checkpoints tr').remove();
  } else {
    $('#checkpoints tbody tr.checkpoint-details').find('input, select').val('');
  }
});
$('#checkpoints').on('click', 'a.add-checkpoint-details', function(e) {
  e.preventDefault();
  var row = $('#checkpoints tr.checkpoint-details:last');
  row.clone().insertAfter(row).find('input, select').val('');
});
<% end %>

