<% if @token_types.any? %>
  <div class="autoscroll">
    <table class="list">
      <thead>
        <tr>
          <th>Name</th>
          <th><span>RPC URI</span></th>
          <th>Confirms</th>
          <th>Default?</th>
          <th>Last block #</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% @token_types.each do |token_type| %>
          <tr>
            <td class="name"><%= token_type.name %></td>
            <td><%= token_type.rpc_uri %></td>
            <td><%= token_type.min_conf %></td>
            <td><%= checked_image token_type.is_default %></td>
            <td><%= token_type.prev_sync_height %></td>
            <td class="buttons">
              <%= link_to(l(:button_delete), token_type_path(token_type), method: :delete,
                          class: 'icon icon-del') if token_type.deletable? %>
              <%= link_to(l(:button_edit), edit_token_type_path(token_type),
                          class: 'icon icon-edit') %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <div class="nodata"><%= l(:label_no_data) %></div>
<% end %>
