<%= form_for @token_vote, remote: true,
  url: issue_token_votes_path(@issue),
  html: {id: 'new-token-vote-form', style: 'display: none;'} do |f| %>

  <%= error_messages_for 'token_vote' %>

  <p>
  <%= f.label :token_type_id, "My precious new" %>
  <%= f.select :token_type_id, token_vote_token_options %>

  <%= f.label :duration, "vote will expire in" %>
  <%= f.select :duration, token_vote_duration_options %>

  <%= submit_tag l(:button_activate) %>
  <%= link_to_function l(:button_cancel), '$("#new-token-vote-form").hide();' %>
  </p>
<% end %>

